.post-page-header {
  .page-header-inner {
    .breadcrumbs-inner {
      .info-wrapper {
        position: relative;
        z-index: 100;
        .current-post-title {
          display: flex;
          text-align: center;
          margin-bottom: 15px;
          font-size: 34px;
          letter-spacing: 0.3px;
          font-weight: 600;
          word-break: break-all;
          @media(max-width: $md) {
            font-size: 28px;
            margin-bottom: 10px;
          }
          @media(max-width: $sm) {
            font-size: 22px;
            margin-bottom: 5px;
          }
          .sticky-icon {
            i {
              font-size: 32px;
              margin-right: 15px;
              color: var(--primary-color);
              @media(max-width: $md) {
                margin-right: 10px;
                font-size: 26px;
              }
            }
          }
        }
        .link-post-title {
          text-align: center;
          margin-bottom: 15px;
          font-size: 34px;
          letter-spacing: 0.3px;
          font-weight: 600;
          @media(max-width: $md) {
            font-size: 28px;
            margin-bottom: 10px;
          }
          @media(max-width: $sm) {
            font-size: 22px;
            margin-bottom: 5px;
          }
          a{
            color: var(--primary-color);
            .link-icon{
              margin-right: 10px;
              color: var(--primary-color);
              @media(max-width: $md){
                margin-right: 5px;
              }
            }
          }
        }
        .info-post {
          display: flex;
          max-width: 900px;
          flex-wrap: wrap;
          justify-content: center;
          .info-part-static {
            opacity: 0.6;
            .delimiter {
              opacity: 0.6;
              margin-right: 5px;
            }
          }
          .info-part {
            margin-top: 10px;
            line-height: 1;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 1.8px;
            transition: all .3s ease-in-out;
            @media(max-width: $md) {
              letter-spacing: 1px;
            }
            a {
              font-family: var(--primary-font);
            }
            i {
              color: $white;
              margin-right: 5px;
              @media(max-width: $md) {
                margin-right: 2px;
              }
            }
          }
          .info-part-meta {
            i {
              opacity: 0.6;
            }
            a {
              transition: all .3s ease-in-out;
              opacity: 0.6;
            }
            a:hover {
              opacity: 1;
            }
            .delimiter {
              opacity: 0.6;
              margin-right: 5px;
            }
          }
          .info-part-link {
            opacity: 0.6;
            color: $white;
          }
          .info-part-link:hover {
            opacity: 1;
          }
          .info-part:not(:last-child) {
            margin-right: 25px;
            @media(max-width: $md) {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}

.post-page-header.default-page-header {
  height: 400px;
  @media(max-width: $md) {
    height: 250px;
  }
  .page-header-inner {
    .breadcrumbs-inner {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      .info-wrapper {
        margin-bottom: 60px;
        @media(max-width: $md) {
          margin-bottom: 40px;
        }
        .current-post-title {
          color: $white;
        }
        .info-part {
          color: $white;
        }
      }
    }
  }
}

.post-page-header.simple-page-header {
  background-color: #f6f6f6;
  border-bottom: 1px solid var(--default-border);
  height: 250px;
  .page-header-inner {
    .breadcrumbs-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      .info-wrapper {
        .current-post-title {
          color: var(--heading-color);
        }
        .info-part {
          color: var(--heading-color);
          i {
            color: var(--heading-color);
          }
        }
      }
    }
  }
}

