.blog-blocks-wrapper {
  padding: 5px;
  @import "post-formats/format-standard";
  @import "post-formats/format-video";
  @import "post-formats/format-gallery";
  @import "post-formats/format-quote";
  @import "post-formats/format-aside";
  @import "post-formats/format-image";
  @import "post-formats/format-link";
  @import "post-formats/format-audio";
  .blog-blocks {
    display: flex;
    flex-wrap: wrap;
    .default-post-wrapper {
      overflow: hidden;
      padding: 5px;
      .post-inner {
        position: relative;
        height: 420px;
        padding: 40px 35px;
        @media(max-width: $sm) {
          padding: 25px;
          height: 350px;
        }
        .post-tag {
          position: absolute;
          top: 50px;
          left: 0;
          background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
          z-index: 11;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          .tag {
            display: flex;
            padding: 13px 20px;
            text-transform: uppercase;
            font-family: var(--primary-font);
            font-size: 10px;
            color: $white;
            font-weight: 600;
            letter-spacing: 1.5px;
            line-height: 1;
            .icon-tag {
              line-height: 1;
              color: $white;
              margin-right: 5px;
              font-size: 10px;
            }
          }
        }
        .content-wrapper {
          display: flex;
          align-items: flex-end;
          position: relative;
          width: 100%;
          height: 100%;
          .content-wrapper-inner {
            font-family: var(--primary-font);
            position: relative;
            z-index: 10;
            .category-list {
              margin-bottom: 20px;
              display: flex;
              align-items: center;
              line-height: 1;
              a {
                text-transform: uppercase;
                font-family: var(--primary-font);
                font-size: 10px;
                color: $white;
                font-weight: 600;
                letter-spacing: 1.5px;
              }
              .delimiter {
                margin: 0 10px;
                font-size: 8px;
                color: $white;
                padding-bottom: 2px;
              }
            }
            .post-title {
              a {
                font-weight: 500;
                color: $white;
                letter-spacing: 0.3px;
                font-size: 22px;
              }
            }
            .info {
              display: flex;
              line-height: 1;
              align-items: center;
              margin-top: 20px;
              text-transform: uppercase;
              font-size: 10px;
              color: $white;
              font-weight: 500;
              letter-spacing: 2px;
              p {
                opacity: 0.6;
                .delimiter {
                  margin-right: 15px;
                  color: $white;
                  padding-bottom: 2px;
                }
              }
              .author {
                a {
                  opacity: 0.6;
                  color: $white;
                }
                a:hover {
                  opacity: 1;
                }
              }
            }
            a {
              transition: all .3s ease-in-out;
            }
          }
        }
      }
    }
  }
}
