.format-gallery {
  .post-inner {
    padding: 0;
    .swiper-post {
      position: absolute;
    }
  }
  .post-inner:hover {
    .swiper-post {
      .swiper-wrapper {
        .swiper-slide:after {
          background-color: rgba(22, 22, 22, 0.2);
        }
      }
      .swiper-button-next-post, .swiper-button-prev-post {
        transform: translateY(-50%) translateX(0%);
        opacity: 1;
      }
    }
  }
}