.admin-bar {
    .hero-slider {
        height: calc(var(--hero-slider-height) - 32px) !important;
        @media(max-width: 783px){
            height: calc(var(--hero-slider-height) - 46px) !important;
        }
    }
}
.hero-slider {
    height: var(--hero-slider-height);
    width: 100%;
    overflow: hidden;
    .swiper-hero {
        height: inherit;
        width: 100%;
        position: relative;
        .swiper-wrapper {
            height: inherit;
            width: 100%;
            .swiper-slide {
                width: 100%;
                height: inherit;
                position: relative;
                .slide-inner{
                    padding: var(--navbar-height) 15px 0 15px;
                    width: 100%;
                    height: inherit;
                    position: relative;
                    z-index: 100;
                }
            }
            .slide-overlay:after{
                content:  '';
                display: block;
                width: 100%;
                height: 100%;
                background: linear-gradient(35deg, $black, rgba($black,0.6));
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.8;
            }
        }
        .navigation{
            position: absolute;
            z-index: 100;
            bottom: 0;
            width: 100%;
            padding: 0 35px 50px 35px;
            .button-nav{
                border: 2px solid $white;
                width: 55px;
                height: 55px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all .3s ease-in-out;
                i{
                    color: $white;
                    font-size: 12px;
                    line-height: 1;
                    transition: all .3s ease-in-out;
                }
            }
            .button-nav:hover{
                background-color: $white;
                i{
                    color: var(--heading-color);
                }
            }
        }
        .swiper-scrollbar-hero{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 5px;
            background-color: rgba($white,0.2);
            z-index: 100;
            .swiper-scrollbar-drag{
                border-radius: 0;
                background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
            }
        }
    }
}