.tab-type-1 {
  .tabs-header {
    display: flex;
    border-bottom: 1px solid var(--default-border);
    margin-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;
    .tab-title {
      cursor: pointer;
      padding: 10px 25px;
      color: var(--heading-color);
      font-weight: 500;
      font-family: var(--primary-font);
      position: relative;
      z-index: 1;
      transition: all .3s ease-in-out;
      opacity: 0.8;
      letter-spacing: 0.5px;
      @media(max-width: $sm){
        padding: 8px 20px;
      }
    }
    .tab-title:after {
      content: ' ';
      display: flex;
      width: 100%;
      height: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: var(--secondary-color);
      transition: all .2s ease-in-out;
      z-index: -1;
    }
    .tab-title:hover {
      opacity: 1;
    }
    .current {
      color: $white;
      opacity: 1;
    }
    .current:after {
      height: 100%;
    }
  }
  .tabs-item:not(:first-child) {
    display: none;
  }
}