/* scss variables */
/* Points */
$xs: 0px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1439px;

/* Points Min */
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$xxl-min: 1440px;

$primary-color: #3d67f4;
$secondary-color: #995ae8;

:root {
  --primary-color: #3d67f4;
  --secondary-color: #995ae8;
  --hamburger-background: #232323;
  --light-gray-color: #a8a8a8;
  --default-border: rgba(153, 153, 153, 0.2);
  --thin-border: rgba(236, 236, 236, 0.09);
  --light-border: rgba(236, 236, 236, 0.2);
}