.service-type-3{
  .icon-wrapper{
    width: 50px;
    min-width: 50px;
    height: 50px;
    border-radius: 100%;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    @media(max-width: $md){
      margin-right: 20px;
    }
    i{
      font-size: 18px;
      color: $white;
      line-height: 1.4;
      @media(max-width: $md){
        font-size: 17px;
      }
    }
  }
  .title{
    transition: all .2s ease-in-out;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
.service-type-3:hover{
  .title{
    color: var(--primary-color);
  }
}