.service-type-2 {
  .icon-wrapper {
    position: relative;
    min-width: 80px;
    i {
      margin-top: 5px;
      line-height: 1;
      font-size: 42px;
      color: var(--primary-color);
    }
  }
  .icon-wrapper:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    top: -25px;
    left: -25px;
    opacity: 0.05;
    transition: all .2s ease-in-out;
    z-index: -1;
    background-color: var(--primary-color);
    @media(max-width: $md) {
      display: none;
    }
  }
  .content-wrapper {
    .title {
      font-weight: 600;
      margin-bottom: 5px;
      color: $white;
    }
  }
}

.service-type-2:hover {
  .icon-wrapper:after {
    top: 0;
    left: 0;
  }
}
