.list-type-2 {
  li {
    .li-item {
      font-weight: 400;
      position: relative;
      display: flex;
      align-items: center;
      color: var(--heading-color);
    }
    .li-item:before {
      content: '\f058';
      font-family: "FontAwesome";
      font-weight: 900;
      margin-right: 15px;
      color: var(--primary-color);
    }
  }
  li:not(:last-child) {
    margin-bottom: 15px;
  }
}