.list-type-3{
  li {
    .li-item {
      font-weight: 400;
      position: relative;
      display: flex;
      align-items: center;
      color: $white;
    }
    .li-item:before {
      content: '\f35a';
      font-family: "FontAwesome";
      margin-right: 15px;
      color: var(--primary-color);
      font-weight: 900;
      font-size: 13px;
    }
  }
  li:not(:last-child) {
    margin-bottom: 15px;
    border-bottom: 1px solid var(--default-border);
    padding-bottom: 15px;
  }
}