.clients-grid-item-type-1 {
  .client-inner {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    min-height: 250px;
    .content-wrapper {
      width: 100%;
      position: relative;
      .img-wrapper {
        display: flex;
        justify-content: center;
        transition: all .3s ease-in-out;
        img{
          width: auto;
          max-height: 120px;
        }
      }
      .content {
        padding: 0 55px;
        opacity: 0;
        position: absolute;
        text-align: center;
        font-size: 13px;
        bottom: 0;
        color: $white;
        transition: all .3s ease-in-out;
        @media(max-width: $md){
          padding: 0 30px;
        }
      }
    }
  }
  .client-inner:hover{
    .content-wrapper{
      .img-wrapper{
        transform: translateY(-150%);
        opacity: 0;
      }
      .content{
        opacity: 0.8;
        bottom: 50%;
        transform: translateY(50%);
      }
    }
  }
  .client-inner:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
  }
}