.blog-list-wrapper {
  @import "post-formats/format-standard";
  @import "post-formats/format-video";
  @import "post-formats/format-gallery";
  @import "post-formats/format-quote";
  @import "post-formats/format-aside";
  @import "post-formats/format-image";
  @import "post-formats/format-link";
  @import "post-formats/format-audio";
  .post-default {
    .left-side {
      padding-right: 30px;
      @media(max-width: $lg) {
        padding-right: 15px;
        margin-bottom: 20px;
      }
      @media(max-width: $sm){
        margin-bottom: 10px;
      }
    }
    .right-side {
      padding-left: 30px;
      @media(max-width: $lg) {
        padding-left: 15px;
      }
    }
    .post-inner {
      position: relative;
      width: 100%;
      .icon-wrapper {
        position: absolute;
        top: 25px;
        right: 25px;
        z-index: 1;
        @media(max-width: $sm) {
          top: 15px;
          right: 15px;
        }
        i {
          font-size: 128px;
          color: rgba($black, 0.08);
          @media(max-width: $sm) {
            font-size: 84px;
          }
        }
      }
      .post-content-wrapper {
        position: relative;
        z-index: 10;
        .content-wrapper {
          audio {
            margin-top: 20px;
            width: 100%;
            max-width: 400px;
          }
        }
      }
    }
    .default-post-content {
      .post-inner {
        .post-content-wrapper {
          .post-title {
            font-size: 24px;
            @media(max-width: $md) {
              font-size: 22px;
            }
            a {
              color: var(--heading-color);
              transition: all .3s ease-in-out;
            }
          }
          .info-wrapper {
            line-height: 1;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            @media(max-width: $lg) {
              margin-bottom: 10px;
            }
            @media(max-width: $sm) {
              margin-bottom: 5px;
            }
            .info-part {
              display: flex;
              margin-top: 5px;
              margin-bottom: 5px;
            }
            .info-part:not(:last-child) {
              @media(max-width: $sm) {
                margin-right: 15px;
              }
            }
            .date {
              font-size: 10px;
              text-transform: uppercase;
              font-family: var(--primary-font);
              color: var(--heading-color);
              font-weight: 600;
              letter-spacing: 1px;
              opacity: 0.5;
            }
            .info-icon {
              font-size: 10px;
              color: var(--heading-color);
              opacity: 0.5;
              margin-right: 10px;
              @media(max-width: $sm) {
                margin-right: 5px;
              }
            }
            .delimiter {
              font-size: 10px;
              margin: 0 15px;
              @media(max-width: $md) {
                margin: 0 10px;
              }
              @media(max-width: $sm) {
                display: none;
              }
            }
            .delimiter-cat {
              margin-right: 5px;
              color: var(--heading-color);
              font-weight: 500;
              font-size: 10px;
            }
            a {
              font-size: 10px;
              text-transform: uppercase;
              font-family: var(--primary-font);
              font-weight: 600;
              letter-spacing: 1px;
              opacity: 0.5;
              color: var(--heading-color);
              transition: all .3s ease-in-out;
            }
            a:hover {
              opacity: 1;
            }
          }
          .post-title:hover {
            a {
              color: var(--primary-color);
            }
          }
          .content-wrapper {
            margin-bottom: 20px;
            font-size: 14px;
            @media(max-width: $lg) {
              margin-bottom: 15px;
            }
            @media(max-width: $sm) {
              font-size: 13px;
              margin-bottom: 10px;
            }
          }
          .button-wrapper {
            .button-post {
              font-family: var(--primary-font);
              position: relative;
              display: flex;
              align-items: center;
              padding: 18px 25px;
              font-size: 13px;
              text-decoration: none;
              text-align: center;
              cursor: pointer;
              user-select: none;
              color: $white;
              z-index: 10;
              line-height: 1;
              background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
              border-radius: 50px;
              transition: all .5s ease;
              box-shadow: 0 15px 40px rgba($secondary-color, 0.3);
              letter-spacing: 0.3px;
              @media(max-width: $sm) {
                font-size: 12px;
                padding: 15px 20px;
              }
              i {
                color: $white;
                font-size: 12px;
                transition: all .2s ease-in-out;
                margin-left: 10px;
                @media(max-width: $sm) {
                  font-size: 11px;
                }
              }
            }
            .button-post:hover {
              padding-left: 35px;
              padding-right: 15px;
              i {
                transform: translateX(10px);
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
  .post-default:not(:last-child) {
    margin-bottom: 40px;
    @media(max-width: $md) {
      margin-bottom: 25px;
    }
  }
}