.video-toggle-type-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  a {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0.9;
    i {
      color: $white;
      font-size: 16px;
    }
  }
  a:after {
    content: ' ';
    display: block;
    position: absolute;
    border-radius: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    animation: video-toggle-animate 1.2s ease-in infinite forwards;
  }
  a:before {
    content: ' ';
    display: block;
    position: absolute;
    border-radius: 100%;
    background-color: var(--primary-color);
    z-index: -1;
    opacity: 0.6;
    width: 85px;
    height: 85px;
  }
  @keyframes video-toggle-animate {
    0% {
      width: 70px;
      height: 70px;
      opacity: 0.8;
    }
    100% {
      width: 140px;
      height: 140px;
      opacity: 0;
    }
  }
}