.video-toggle-type-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  a {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0.9;
    box-shadow: 0 5px 35px rgba(0,0,0,0.3);
    transition: all .2s ease-in-out;
    i {
      color: $white;
      font-size: 13px;
    }
  }
  a:hover{
    transform: scale(1.1);
  }
}