.counters-type-1 {
  .counters-wrapper {
    @media(max-width: $lg) {
      margin-bottom: -50px;
    }
    .counter-box {
      position: relative;
      @media(max-width: $lg) {
        margin-bottom: 50px;
      }
      .prop-obj {
        text-align: center;
        font-size: 72px;
        font-weight: 800;
        line-height: 1;
        color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
        font-family: var(--primary-font);
        @media(max-width: $sm) {
          font-size: 48px;
        }
      }
      .prop-obj:after {
        content: ' ';
        display: block;
        width: 100px;
        height: 6px;
        background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
        margin-top: 25px;
        @media(max-width: $md){
          width: 70px;
        }
      }
      .title-counter {
        text-align: center;
        font-weight: 700;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 13px;
        @media(max-width: $sm) {
          font-size: 12px;
        }
      }
      .counter-icon {
        margin-top: 10px;
        i {
          color: $white;
          font-size: 28px;
        }
      }
    }
  }
}