.format-aside {
  .post-inner{
    padding: 65px 50px;
    background-color: rgba($gray-100,0.5);
    border: 5px solid var(--default-border);
    @media(max-width: $md){
      padding: 35px 25px;
    }
    @media(max-width: $sm){
      padding: 25px;
    }
  }
}