@import "sidebar/sidebar-general";
@import "single-post";
@import "navigation";
@import "blog-type/blocks/blog-type-blocks";
@import "blog-type/list/blog-type-list";
@import "blog-type/grid/blog-type-grid";

.post-with-sidebar {
  padding: 0 15px;
}

.grid-item-50 {
  width: 50%;
  @media(max-width: $md) {
    width: 100%;
  }
}
.grid-item-25 {
  width: 25%;
  @media(max-width: $xxl) {
    width: 50%;
  }
  @media(max-width: $md) {
    width: 100%;
  }
}

.default-blog-wide {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.left-sidebar {
  padding-right: 30px;
}

.right-sidebar {
  padding-left: 30px;
}

.blog-section-default {
  padding: 100px 0;
  @media(max-width: $md) {
    padding: 50px 0;
  }
  @media(max-width: $sm) {
    padding: 25px 0;
  }
}

