.blog-nav {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 30px;
  @media(max-width: $lg){
    padding-top: 50px;
  }
  li{
    display: flex;
    align-items: center;
  }
  .extend{
    line-height: 1;
  }
  .current {
    background-color: var(--primary-color) !important;
    color: $white !important;
  }
  a{
    background-color: #f6f6f6;
  }
  a, .current {
    cursor: pointer;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 5px;
    font-family: var(--primary-font);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: var(--heading-color);
    i{
      font-size: 11px;
      line-height: 1;
    }
  }
  a:hover {
    background-color: var(--heading-color);
    color: $white;
    i{
      color: $white;
    }
  }
  li:not(:last-child) {
    margin-right: 15px;
  }
}
.block-type-nav{
  .blog-nav{
    margin-bottom: 50px;
  }
}