.vp-portfolio__filter-wrap {
  display: flex;
  justify-content: center;
  overflow: visible;
  .vp-filter {
    border: 1px solid var(--default-border);
    margin: 0;
    margin-bottom: 70px;
    padding: 0 50px;
    border-radius: 50px;
    @media(max-width: $lg) {
      margin-bottom: 50px;
      padding: 0 25px;
    }
    @media(max-width: $md) {
      margin-bottom: 30px;
    }
    .vp-filter__item {
      margin: 0;
      a {
        padding: 13px 25px;
        transition: all .2s ease-in-out;
        border-radius: 50px;
        border: none;
        font-size: 13px;
        letter-spacing: 0.5px;
        @media(max-width: $lg) {
          padding: 10px 20px;
          font-size: 12px;
          letter-spacing: normal;
        }
      }
      a:hover {
        border: none !important;
      }
    }
    .vp-filter__item:not(:last-child) {
      margin-right: 15px;
      @media(max-width: $lg) {
        margin-right: 5px;
      }
    }
    .vp-filter__item-active {
      a {
        box-shadow: 0 10px 30px rgba($primary-color, 0.4);
        background-color: var(--primary-color);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.1);
      }
    }
  }
}

.vp-portfolio__pagination-wrap {
  .vp-pagination {
    margin-top: 50px;
    .vp-pagination__item {
      padding: 25px;
      .vp-pagination__load-more {
        color: $white;
        padding: 15px 35px;
        background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
        box-shadow: 0 10px 30px rgba($secondary-color, 0.3);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: none;
      }
      .vp-pagination__load-more:hover {
        border: none;
      }
    }
  }
}

.vp-portfolio__items-style-default {
  a {
    transition: all .2s ease-in-out;
  }
  a:hover {
    color: var(--primary-color) !important;
  }
}

.pswp {
  .pswp__caption {
    display: none !important;
  }
}