.single-project-wrapper{
  .project-content{
    padding: 75px 0;
    @media(max-width: $md){
      padding: 50px 0;
    }
  }
  .project-footer-wrapper{
    padding: 0 15px;
    .project-footer{
      padding: 30px;
      width: 100%;
      border: 1px solid var(--default-border);
      .post-info-additional {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .like-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          .aragon-likes-button {
            font-family: var(--primary-font);
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            z-index: 10;
            border-radius: 50px;
            transition: all .5s ease;
            i {
              margin-right: 10px;
              font-size: 22px;
              color: rgba($black, 0.2);
              line-height: 1;
              @media(max-width: $sm) {
                font-size: 20px;
              }
            }
            .aragon-count {
              font-weight: 500;
              font-size: 16px;
              color: rgba($black, 0.2);
              line-height: 1;
              @media(max-width: $sm) {
                font-size: 14px;
              }
            }
          }
          .liked {
            .fa-heart {
              color: #F13C46;
            }
            .aragon-count {
              color: #F13C46;
            }
          }
        }
        .views-wrapper {
          .views-item {
            font-family: var(--primary-font);
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;
            text-align: center;
            z-index: 10;
            letter-spacing: 0.3px;
            opacity: 0.4;
            i {
              margin-right: 10px;
              font-size: 16px;
              color: var(--heading-color);
              line-height: 1;
              @media(max-width: $sm) {
                font-size: 14px;
              }
            }
            span {
              font-weight: 500;
              font-size: 16px;
              color: var(--heading-color);
              line-height: 1;
              @media(max-width: $sm) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .navigation-project {
    position: relative;
    padding: 40px 50px;
    border-top: 1px solid var(--default-border);
    margin-top: 100px;
    @media(max-width: $sm) {
      padding: 30px 15px;
    }
    .nav-link {
      padding: 0;
      a {
        color: var(--heading-color);
        font-weight: 600;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 0.5px;
        font-family: var(--primary-font);
        line-height: 1;
        display: flex;
        align-items: center;
        transition: all .3s ease-in-out;
        opacity: 0.8;
        i {
          font-size: 12px;
        }
        span {
          margin: 0 15px;
        }
      }
      .additional-link {
        i {
          margin-bottom: 1px;
        }
      }
      a:hover {
        color: var(--primary-color);
        opacity: 1;
      }
    }
  }
}