@import "contact-forms/contact-form-type-1";
@import "contact-forms/contact-form-type-2";

.wpcf7-validation-errors {
  border: 1px solid var(--default-border) !important;
}

.wpcf7-response-output {
  background-color: rgba($white, 0.8);
  padding: 10px 15px !important;
  color: var(--heading-color);
  margin: 50px 0 10px 0 !important;
}