.section-title {
  z-index: 100;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  .title {
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    font-size: 52px;
    @media(max-width: $lg){
      font-size: 48px;
    }
    @media(max-width: $sm){
      font-size: 36px;
      margin-bottom: 10px;
    }
  }
  .bg-title {
    position: absolute;
    font-size: 82px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    z-index: -1;
    opacity: 0.05;
    font-weight: 800;
    white-space:nowrap;
    @media(max-width: $lg){
      font-size: 64px;
    }
    @media(max-width: $sm){
      display: none;
    }
  }
  .subtitle {
    text-align: center;
  }
}

.color-title {
  .title {
    color: var(--primary-color);
  }
  .bg-title {
    color: var(--primary-color);
  }
}

.white-title {
  .title {
    color: $white;
  }
  .bg-title {
    color: $white;
  }
  .subtitle{
    color: var(--section-white-subtitle-color);
  }
}

.black-title {
  .title {
    color: var(--heading-color);
  }
  .bg-title {
    color: var(--heading-color);
  }
}