.accordions-type-2 {
  .accordion-item {
    margin-bottom: 10px;
    .accordion-header {
      padding: 15px 0;
      cursor: pointer;
      display: flex;
      .title {
        font-weight: 600;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        transition: all .3s ease-in-out;
      }
      .title:before {
        content: '\f055';
        font-family: "FontAwesome";
        font-weight: 900;
        color: var(--primary-color);
        line-height: 1;
        margin-right: 10px;
      }
    }
    .accordion-body {
      display: none;
    }
  }
  .active {
    .accordion-header {
      .title {
        color: var(--primary-color);
      }
    }
  }
}