/* Dots */
@import 'types/ball-pulse-sync';
@import 'types/ball-scale';
@import 'types/ball-scale-random';
@import 'types/ball-rotate';
@import 'types/ball-clip-rotate';
@import 'types/ball-scale-ripple';
@import 'types/ball-scale-ripple-multiple';
@import 'types/ball-beat';
@import 'types/ball-scale-multiple';
@import 'types/ball-pulse-rise';
@import 'types/ball-grid-beat';
@import 'types/ball-grid-pulse';
@import 'types/ball-spin-fade-loader';
@import 'types/ball-spin-loader';
/* Lines */
@import 'types/line-scale';
@import 'types/line-scale-random';
@import 'types/line-scale-pulse-out';
@import 'types/line-scale-pulse-out-rapid';
@import 'types/line-spin-fade-loader';
/* Misc */
@import 'types/square-spin';
@import 'types/pacman';

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--loader-background);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 1.5s ease-in-out;
  z-index: 1000;
}

.off_loader {
  pointer-events: none;
  opacity: 0;
}
