.blog-grid-wrapper {
  @import "post-formats/format-standard";
  @import "post-formats/format-video";
  @import "post-formats/format-gallery";
  @import "post-formats/format-quote";
  @import "post-formats/format-aside";
  @import "post-formats/format-image";
  @import "post-formats/format-link";
  @import "post-formats/format-audio";
  .blog-grid {
    margin-bottom: -40px;
    @media(max-width: $md) {
      margin-bottom: -30px;
    }
    .grid-item {
      padding: 0;
    }
    .post-grid {
      padding: 0 15px;
    }
    .post-title {
      display: flex;
    }
    .post-grid {
      margin-bottom: 40px;
      @media(max-width: $md) {
        margin-bottom: 25px;
      }
    }
    .post-header{
      img{
        width: 100%;
        height: auto;
      }
    }
    .sticky-icon {
      i {
        font-size: 24px;
        margin-right: 15px;
        color: var(--primary-color);
        @media(max-width: $md) {
          margin-right: 10px;
          font-size: 20px;
        }
      }
    }
    .sticky-icon-link {
      position: absolute;
      top: 20px;
      right: 20px;
      i {
        font-size: 24px;
        margin-right: 15px;
        color: var(--primary-color);
        @media(max-width: $md) {
          margin-right: 10px;
          font-size: 20px;
        }
      }
    }
    .default-post-wrapper {
      .post-inner {
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
        .post-header {
          position: relative;
        }
        .post-content {
          padding: 35px;
          @media(max-width: $lg) {
            padding: 25px;
          }
          @media(max-width: $sm) {
            padding: 25px 15px;
          }
          .post-title {
            font-size: 24px;
            word-break: break-all;
            @media(max-width: $md) {
              font-size: 22px;
            }
            a {
              color: var(--heading-color);
              transition: all .3s ease-in-out;
            }
          }
          .info-wrapper {
            line-height: 1.5;
            margin-bottom: 6px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .info-part {
              display: flex;
              margin-top: 5px;
              font-weight: 700;
              flex-wrap: wrap;
            }
            .info-part:not(:last-child) {
              margin-right: 15px;
            }
            .date {
              font-size: 10px;
              text-transform: uppercase;
              font-family: var(--primary-font);
              color: var(--heading-color);
              font-weight: 600;
              letter-spacing: 1px;
              opacity: 0.5;
            }
            .info-icon {
              display: flex;
              align-items: center;
              font-size: 10px;
              color: var(--heading-color);
              opacity: 0.5;
              margin-right: 10px;
              transform: translateY(-1px);
              @media(max-width: $lg) {
                margin-right: 5px;
              }
              @media(max-width: $sm) {
                margin-right: 5px;
              }
            }
            .delimiter {
              font-size: 10px;
              margin: 0 5px;
            }
            .delimiter-cat {
              margin-right: 5px;
              color: var(--heading-color);
              font-weight: 500;
              font-size: 10px;
            }
            a {
              font-size: 10px;
              text-transform: uppercase;
              font-family: var(--primary-font);
              font-weight: 600;
              letter-spacing: 1px;
              color: var(--heading-color);
              transition: all .3s ease-in-out;
              opacity: 0.5;
            }
            a:hover {
              opacity: 1;
            }
          }
          .post-title:hover {
            a {
              color: var(--primary-color);
            }
          }
          .content-wrapper {
            font-size: 14px;
            @media(max-width: $sm) {
              font-size: 13px;
            }
          }
          .button-wrapper {
            margin-top: 20px;
            @media(max-width: $lg) {
              margin-top: 15px;
            }
            @media(max-width: $sm) {
              margin-top: 10px;
            }
            .button-post {
              font-family: var(--primary-font);
              position: relative;
              display: flex;
              align-items: center;
              padding: 18px 25px;
              font-size: 13px;
              text-decoration: none;
              text-align: center;
              cursor: pointer;
              user-select: none;
              color: $white;
              z-index: 10;
              line-height: 1;
              background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
              border-radius: 50px;
              transition: all .5s ease;
              box-shadow: 0 15px 40px rgba($secondary-color, 0.3);
              letter-spacing: 0.3px;
              @media(max-width: $sm) {
                font-size: 12px;
                padding: 15px 20px;
              }
              i {
                color: $white;
                font-size: 12px;
                transition: all .2s ease-in-out;
                margin-left: 10px;
                @media(max-width: $sm) {
                  font-size: 11px;
                }
              }
            }
            .button-post:hover {
              padding-left: 35px;
              padding-right: 15px;
              i {
                transform: translateX(10px);
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
}

.blog-grid-column {
  padding: 0;
}