.steps-wrapper {
  .steps-slider-type-1 {
    width: 100%;
    .swiper-steps-slider {
      padding: 50px 0;
      .step-wrapper {
        .step-inner {
          background: linear-gradient(30deg, var(--primary-color), var(--secondary-color));
          padding: 30px 25px;
          border-radius: 5px;
          box-shadow: 0 5px 25px rgba(11, 11, 11, 0.15);
          position: relative;
          .num {
            font-weight: 600;
            color: $white;
            margin-bottom: 10px;
          }
          .step-body {
            .title {
              color: $white;
              margin-bottom: 5px;
              font-weight: 600;
              letter-spacing: 0.5px;
              @media(max-width: $sm){
                font-size: 22px;
              }
            }
            .content {
              color: $white;
              opacity: 0.8;
            }
          }
          .background-icon-wrapper {
            position: absolute;
            top: 25px;
            right: 25px;
            i {
              opacity: 0.3;
              line-height: 1;
              color: $white;
              font-size: 80px;
            }
          }
        }
      }
    }
  }
  .navigation-wrapper {
    width: calc(100% + 200px);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(-100px);
    @media(max-width: 1600px){
      display: none!important;
    }
    .arrow-nav {
      opacity: 0.6;
      transition: all .2s ease-in-out;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: 2px solid $white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      i {
        font-size: 18px;
        color: $white;
      }
    }
    .arrow-nav:hover{
      opacity: 1;
    }
  }
}
