body {
  font-family: var(--primary-font);
  font-size: 15px;
  color: var(--primary-font-color);
  font-weight: 300;
  line-height: var(--font-line-height);
  overflow-y: scroll;
  overflow-x: hidden !important;
  @media(max-width: $md) {
    font-size: 14px;
  }
  @media(max-width: $sm) {
    font-size: 13px;
  }
}

main {
  background-color: $white;
  overflow: hidden !important;
}

section {
  position: relative;
  z-index: 100;
}

.hover-in {
  transition: .1s ease !important;
}

.hover-out {
  transition: .5s ease !important;
}

*:focus {
  outline: none !important;
}

iframe {
  border: none;
}

p, span, a {
  font-family: var(--primary-font);
  margin-bottom: 0;
}

::selection {
  background-color: var(--selection-background);
  color: var(--selection-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.3;
  font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6, i {
  color: var(--heading-color);
}

a:hover {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul, ol {
  padding-left: 0;
  margin-bottom: 0;
}

.gradient-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.canvas-scene {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  overflow: hidden;
  .canvas-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.lines-particles {
  z-index: 3 !important;
}

.hover3d-wrapper {
  cursor: pointer;
  height: 100%;
  .hover3d-child {
    width: 100%;
    height: 100%;
  }
}

.not-found {
  width: 100%;
  .not-found-container {
    .not-found-alert {
      background-color: $white;
      max-width: 600px;
      padding: 20px 0 20px 35px;
      border-left: 8px solid var(--default-border);
      .title {
        font-weight: 600;
        margin-bottom: 20px;
        @media(max-width: $lg) {
          font-size: 42px;
        }
        @media(max-width: $md) {
          font-size: 36px;
          margin-bottom: 10px;
        }
        @media(max-width: $sm) {
          font-size: 28px;
        }
        .highlight {
          color: var(--primary-color);
          margin-left: 5px;
        }
      }
      .subtitle {
        font-weight: 400;
        font-size: 18px;
        @media(max-width: $md) {
          font-size: 16px;
        }
      }
      .buttons-wrapper {
        margin-top: 40px;
        @media(max-width: $md) {
          margin-top: 20px;
        }
        i {
          margin-right: 10px;
        }
      }
    }
  }
}

strong {
  font-weight: 600;
  color: var(--heading-color);
}

address {
  font-style: italic;
  margin: 15px 0;
  font-weight: 500;
  color: var(--heading-color);
}

ins, del, strike, s, u, em, cite {
  font-weight: 500;
  color: var(--heading-color);
}

tt, var {
  font-weight: 500;
  color: var(--heading-color);
}

dl {
  padding: 25px;
  border: 1px solid var(--default-border);
  color: var(--heading-color);
  @media(max-width: $sm) {
    padding: 15px;
  }
  dt {
    font-weight: 500;
  }
  dd {
    margin-bottom: 0;
  }
  dd:not(:last-child) {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--default-border);
  }
}

kbd {
  background-color: var(--primary-color);
}

pre {
  padding: 5px 10px;
  border: 1px solid var(--default-border);
  background-color: #f6f6f6;
  margin: 10px 0;
  color: var(--heading-color);
}

.clearfix {
  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }
}

.default-content-styles {
  padding: 50px 15px;
}

.default-content {
  margin-left: auto;
  margin-right: auto;
  a {
    color: var(--primary-color);
    font-weight: 500;
  }
  .wp-caption {
    max-width: 100%;
    .wp-caption-text {
      font-weight: 400;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
  .alignleft {
    margin-right: 15px !important;
  }
  .alignright {
    margin-left: 15px !important;
  }
  .alignnone, .alignleft, .alignright, .aligncenter {
    margin: 5px 0;
  }
  p, figure {
    img {
      padding: 5px;
      border: 1px solid var(--default-border);
      border-radius: 5px;
    }
  }
  blockquote {
    background-color: rgba($black, 0.03);
    border-radius: 5px;
    padding: 35px 50px;
    position: relative;
    margin: 25px 0;
    width: 100%;
    max-width: 100%;
    @media(max-width: $sm) {
      padding: 25px;
    }
    p {
      font-size: 17px;
      color: var(--heading-color);
      font-weight: 400;
      margin-bottom: 0 !important;
      @media(max-width: $lg) {
        font-size: 16px;
      }
      @media(max-width: $sm) {
        font-size: 14px;
      }
    }
    p:after {
      content: close-quote;
    }
    p:before {
      content: open-quote;
    }
  }
  blockquote:before {
    content: '\f10e';
    display: block;
    font-family: "FontAwesome";
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 45px;
    font-weight: 900;
    line-height: 1;
    opacity: 0.1;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-weight: 600;
    @media(max-width: $sm) {
      margin-bottom: 10px;
    }
  }
  ol {
    font-weight: 500;
    padding-left: 30px;
    color: var(--heading-color);
    li {
      margin-bottom: 10px;
      ol {
        padding-left: 10px;
        margin-top: 10px;
      }
    }
  }
  ul {
    font-weight: 500;
    padding-left: 30px;
    color: var(--heading-color);
    li {
      list-style-type: square;
      margin-bottom: 10px;
      ul {
        padding-left: 10px;
        margin-top: 10px;
      }
    }
  }
  table {
    margin: 15px 0;
    width: 100%;
    tr {
      border-top: 1px solid var(--default-border);
      border-bottom: 1px solid var(--default-border);
      td, th {
        padding: 15px 25px;
        color: var(--heading-color);
        font-weight: 500;
        @media(max-width: $md) {
          padding: 10px 15px;
        }
        @media(max-width: $sm) {
          padding: 5px 10px;
        }
      }
    }
  }
  // System styles
  .alignleft {
    float: left;
    text-align: left;
  }

  .alignright {
    float: right;
    text-align: right;
  }

  .aligncenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    clear: both;
    display: block;
  }

  .bypostauthor {
    visibility: visible;
  }

  .mce-content-body .wpview-wrap {
    margin-bottom: 28px;
  }

  .gallery {
    margin: 0 -1.1666667%;
    padding: 0;
  }

  .gallery .gallery-item {
    display: inline-block;
    max-width: 33.33%;
    padding: 0 1.1400652% 2.2801304%;
    text-align: center;
    vertical-align: top;
    width: 100%;
  }

  .gallery-columns-1 .gallery-item {
    max-width: 100%;
  }

  .gallery-columns-2 .gallery-item {
    max-width: 50%;
  }

  .gallery-columns-4 .gallery-item {
    max-width: 25%;
  }

  .gallery-columns-5 .gallery-item {
    max-width: 20%;
  }

  .gallery-columns-6 .gallery-item {
    max-width: 16.66%;
  }

  .gallery-columns-7 .gallery-item {
    max-width: 14.28%;
  }

  .gallery-columns-8 .gallery-item {
    max-width: 12.5%;
  }

  .gallery-columns-9 .gallery-item {
    max-width: 11.11%;
  }

  .gallery .gallery-caption {
    font-size: 13px;
    margin: 0;
  }

  .gallery-columns-6 .gallery-caption,
  .gallery-columns-7 .gallery-caption,
  .gallery-columns-8 .gallery-caption,
  .gallery-columns-9 .gallery-caption {
    display: none;
  }

  .wp-audio-shortcode a,
  .wp-playlist a {
    box-shadow: none;
  }

  .mce-content-body .wp-audio-playlist {
    margin: 0;
    padding-bottom: 0;
  }

  .mce-content-body .wp-playlist-tracks {
    margin-top: 0;
  }

  .mce-content-body .wp-playlist-item {
    padding: 10px 0;
  }

  .mce-content-body .wp-playlist-item-length {
    top: 10px;
  }

  .rtl blockquote {
    border: 0 solid #1a1a1a;
    border-right-width: 4px;
  }

  .rtl blockquote.alignleft,
  .rtl blockquote.alignright {
    border: 0 solid #1a1a1a;
    border-top-width: 4px;
  }

  .rtl blockquote:not(.alignleft):not(.alignright) {
    margin-right: -28px;
    padding: 0 24px 0 0;
  }

  .rtl blockquote blockquote:not(.alignleft):not(.alignright) {
    margin-right: 0;
    margin-left: auto;
  }

  .rtl li > ul,
  .rtl blockquote > ul {
    margin-right: 20px;
    margin-left: auto;
  }

  .rtl li > ol,
  .rtl blockquote > ol {
    margin-right: 24px;
    margin-left: auto;
  }

  .rtl table th,
  .rtl .mce-item-table th,
  .rtl table caption {
    text-align: right;
  }
}

.post_pages {
  width: 100%;
  padding-top: 30px;
  display: flex;
  align-items: center;
  line-height: 1;
  p {
    font-weight: 500;
    margin-right: 10px;
    color: var(--heading-color);
  }
  .link {
    font-weight: 500;
    transition: all .2s ease-in-out;
    color: var(--heading-color);
    width: 30px;
    height: 30px;
    border: 1px solid var(--default-border);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    margin-left: 5px;
    line-height: 1;
    a {
      color: var(--heading-color) !important;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
  .link:hover {
    background-color: var(--primary-color) !important;
    color: $white !important;
    a {
      color: $white !important;
    }
  }
  a:hover {
    .link {
      color: $white !important;
    }
  }
}