.bg-attachment-fixed {
  background-attachment: fixed !important;
}

.bg-size-cover {
  background-size: cover !important;
}

.bg-position-center {
  background-position: center !important;
}


.theme-check-tags-fix {
  display: none !important;
}

.z-index-100 {
  position: relative;
  z-index: 100;
}

.container-medium {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  @media(max-width: 1440px) {
    width: 100%;
    max-width: 1200px;
  }
}

.container-large{
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.two-side-middle-center {
  display: flex;
  align-items: center;
  @media(max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.border-bottom-simple {
  border-bottom: 1px solid var(--default-border);
}

.border-top-simple {
  border-top: 1px solid var(--default-border);
}

.highlight{
  color: var(--primary-color);
  font-weight: 700;
  font-family: var(--primary-font);
}